.header{
    height: 200px;
    width: 100%;
    background-color : rgb(23,23,23);
    padding-top: 50px;
}
  
.cardContainer{
    height: 800px;
    width: 200px;
    /* box-shadow: 0px 3px 50px #535353; */
}
  
.cardWrapper{
    width: 270px; 
    height: 200px; 
    box-shadow: 0px 3px 50px #474747 ;
    display: flex;
    flex-direction: column;
    margin: 10px 40px 20px 40px;
}
  
.cardTop{
    width: 100%;
    height: 2%;
}
  
.taskHolder{
    width: 90%;
    height: 98%;
    padding: 10px 20px;
    display : flex;
    align-items: center;
    flex-direction: column;
    
    position: relative;
}
  
.cardHeader{
    margin: 10px 0px;
    width: fit-content;
    padding: 1px 20px 8px 10px ;
   align-items: center;
    text-align:center; 
    text-indent: 5px;
}
  
.taskContainer{
    height: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(38,38,38);
    padding : 40px 200px;
}
